body {
    height: 100vh;
}

.container {
    width: 100%;
    margin-top: ;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.first-column {
    width: 10%;
    display: inline-block;
    margin-left: calc(50% - 350px);
    margin-right: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #E05E46; 
}

.first-column img {
    background-color: #70C0C9;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.second-column {
    width: 10%;
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #E05E46;
}

.second-column img {
    background-color: #4074BD;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.third-column {
    width: 10%;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #E05E46;
}

.third-column img {
    background-color: #E05E46;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.fourth-column {
    width: 10%;
    display: inline-block;
    margin-left: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #E05E46;
}

.fourth-column img {
    background-color: #919191;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}